<a href="https://colab.research.google.com/github/Aakash-Mygithub/Python-codes/blob/main/My_ColabPython_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Hare Krishna")

Hare Krishna

In [ ]:
print("Hare Rama","Hare Krishna")

Hare Rama Hare Krishna

In [ ]:
print(23+45+44.44*77%200)

89.87999999999965

In [5]:
name = 'Kanha123'
age = 25
price = 23.44

In [6]:
print ("my name is : ", name)
print ("my age is : ", age)
print ("my price is : ", price)

my name is :  Kanha123
my age is :  25
my price is :  23.44

In [7]:
print (type(name))
print (type(age))
print (type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
name1 = 'Nanda'
print(name1,name)

Nanda Kanha123

In [ ]:
#print('python')

In [3]:
print ('History', 'Code', 22)

History Code 22

In [2]:
A = 'English'
B = 'Hindi'
C = 'Marathi'
D = 'Gujarati'
E = 'Tamil'
F = 'Telugu'
G = 'Kannada'
H = 'Malayalam'
I = 'Bengali'
J = 'Punjabi'

In [3]:
print (A,B,C,D,E,F,"and",G)

English Hindi Marathi Gujarati Tamil Telugu and Kannada

In [5]:
a = A,B,C,D,E,F,G
b = a

print (A,F,D,J)
print (B,A,D,C)

English Telugu Gujarati Punjabi
Hindi English Gujarati Marathi

In [11]:
a = 'America'
b = 'Brazile'
c = 'China'
d = 'Denmark'
e = 'England'
f = 'Finland'
g = 'Greenland'
h = 'Haland'
i = 'India'
j = 'Jmaica'

In [12]:
print (a,b,c,d,e,f,g,h,i,j,)

America Brazile China Denmark England Finland Greenland Haland India Jmaica